【キャラクターの今の状態】
{{{affectText}}}

【プレイヤーとの関係】
{{{stageDescription}}}

{{#hasRecentConversation}}
【最近の会話】
{{{recentConversationText}}}

{{/hasRecentConversation}}
【評価する入力】
{{{inputText}}}

{{{processRule}}}

以上をもとに、【出力フォーマット】の JSON だけを出力してください。
